* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    height: 90px;
    width: 100%;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.right {
    line-height: 65px;
    height: 100%;
    float: left;
    width: 60%;
    margin-bottom: 10px;
    padding-top: 10px;
}

.left {
    margin-bottom: 10px;
    padding-top: 10px;
    height: 100%;
    float: left;
    width: 40%;
}

.left a img {
    height: 90%;
    line-height: 90%;
    vertical-align: middle;
    text-align: center;
}

.left a h2 {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    margin-left: 30px;
    color: rgb(25, 28, 31);
}

.right ul li {
    color: rgb(139, 149, 158);
    line-height: normal;
    display: inline;
    text-decoration: none;
    list-style-type: none;
    font-size: 25px;
    margin-right: 30px;
    width: 20px;
}

.right ul {
    margin-right: 0px;
}

.right ul li:first-child {
    margin-left: 30px;
}

svg {
    height: 24px;
    width: 24px;
    color: grey;
}

.right button {
    background-color: rgb(210, 0, 126);
    border-radius: 50px;
    display: inline;
}

.button {
    float: right;
    line-height: 30px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 10px;
    margin-right: 30px;
}

.menu-item {
    display: inline-block;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: grey;
}
